<div class="container">
    <div class="row">
        <form method="post" action="{{ path('app_livraison_delete', {'id': livraison.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ livraison.id) }}">
            <button class="btn btn-primary btn-lg btn-block">Delete</button>
        </form>
    </div>
</div>

