{% extends 'base-back.html.twig' %}

{% block title %}Edit Livraison{% endblock %}

{% block body %}

    {{ form_start(form, {'method': 'POST', 'attr': {'novalidate': 'novalidate'}}) }}
    <div class="container">
        <h2>Edit Livraison</h2>
        <hr>
        <div class="row">
            <div class="col-12 text-center">
                <div class="form-group">
                    {{ form_widget(form.nom, {'attr': {'class': 'form-control ', 'placeholder': 'nom'}}) }}
                    {% if form_errors(form.nom) %}
                        <div class="alert alert-danger" style="margin: 0;padding: 0;text-align: center;">
                            {{ form_errors(form.nom) }}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center">
                <div class="form-group">
                    {{ form_widget(form.prix, {'attr': {'class': 'form-control ', 'placeholder': 'prix'}}) }}
                    {% if form_errors(form.prix) %}<span class="error-form">{{ form_errors(form.prix) }}</span>{% endif %}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center">
                <div class="form-group">
                    {{ form_widget(form.typelivraison, {'attr': {'class': 'form-control ', 'placeholder': 'Type livraison'}}) }}
                    {% if form_errors(form.typelivraison) %}<span class="error-form">{{ form_errors(form.typelivraison) }}</span>{% endif %}
                </div>
            </div>
        </div>
        <div  class="row">
            <div class="col-6 text-center">
                <div class="form-group">
                    <label>Sélectionner une ou plusieurs commande</label>
                    {{ form_widget(form.commandes, {'attr': {'class': 'form-control '}}) }}
                    {% if form_errors(form.commandes) %}<span class="error-form">{{ form_errors(form.prix) }}</span>{% endif %}
                </div>
            </div>
        </div>

        {{form_end(form)}}
        <button class="btn btn-primary btn-lg btn-block">{{ button_label|default('Save') }}</button>
        <a class="btn btn-secondary btn-lg btn-block" href="{{ path('app_livraison_index') }}">back to list</a>
        <hr>
        <form method="post" action="{{ path('app_livraison_delete', {'id': livraison.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ livraison.id) }}">
            <button class="btn btn-danger btn-lg btn-block">Delete</button>
        </form>

    </div>
{% endblock %}
