{% extends 'base-back.html.twig' %}

{% block title %}Livraison index{% endblock %}

{% block body %}

<div class="container">
    <h2>Liste des livraisons</h2>
    <hr>
    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Nom</th>
            <th>Prix</th>
            <th>Type</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for livraison in livraisons %}
            <tr>
                <td>{{ livraison.id }}</td>
                <td>{{ livraison.nom }}</td>
                <td>{{ livraison.prix }}</td>
                <td>{{ livraison.typelivraison }}</td>

                <td>
                    <a class="btn btn-info" href="{{ path('app_livraison_show', {'id': livraison.id}) }}">Show</a>
                    <a class="btn btn-warning" href="{{ path('app_livraison_edit', {'id': livraison.id}) }}">Edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-success btn-lg btn-block" href="{{ path('app_livraison_new') }}">Create new</a>
    <br>

    <a class="btn btn-info btn-lg btn-block"  href="{{ path('livraison_stat') }}"> statistique 📈</a>
</div>


{% endblock %}
