{% extends ('base-back.html.twig') %}
{% block body %}
<!DOCTYPE html>
    <style>
        dl, ol, ul {
            margin: 0;
        }
    </style>
    {{ form_start(form, {'method': 'POST', 'attr': {'novalidate': 'novalidate'}}) }}
    <div class="container">
        <h2>Ajouter une nouvelle livraison</h2>
        <hr>
        <div class="row">
            <div class="col-12 text-center">
                <div class="form-group">
                    {{ form_widget(form.nom, {'attr': {'class': 'form-control ', 'placeholder': 'Nom de la livraison'}}) }}
                    {% if form_errors(form.nom) %}
                        <div class="alert alert-danger" style="margin: 0;padding: 0;text-align: center;">
                            {{ form_errors(form.nom) }}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center">
                <div class="form-group">
                    {{ form_widget(form.prix, {'attr': {'class': 'form-control ', 'placeholder': 'Prix'}}) }}
                    {% if form_errors(form.prix) %}
                        <div class="alert alert-danger" style="margin: 0;padding: 0;text-align: center;">
                            {{ form_errors(form.prix) }}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center">
                <div class="form-group">
                    {{ form_widget(form.typelivraison, {'attr': {'class': 'form-control ', 'placeholder': 'Type livraison'}}) }}
                    {% if form_errors(form.typelivraison) %}
                        <div class="alert alert-danger" style="margin: 0;padding: 0;text-align: center;">
                            {{ form_errors(form.typelivraison) }}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div  class="row">
            <div class="col-12 text-center">
                <div class="form-group">
                    <label>Sélectionner une ou plusieurs commande</label>
                    {{ form_widget(form.commandes, {'attr': {'class': 'form-control '}}) }}
                    {% if form_errors(form.commandes) %}
                        <div class="alert alert-danger" style="margin: 0;padding: 0;text-align: center;">
                            {{ form_errors(form.commandes) }}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>

       {{form_end(form)}}
        <button class="btn btn-primary btn-lg btn-block">{{ button_label|default('Save') }}</button>
        <a class="btn btn-secondary btn-lg btn-block" href="{{ path('app_livraison_index') }}">back to list</a>

    </div>
{% endblock %}
