{% extends 'base-back.html.twig' %}

{% block title %}Livraison{% endblock %}

{% block body %}

<div class="container">
    <h2>Livraison #id : {{  livraison.id }}</h2>
    <hr>
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ livraison.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ livraison.nom }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ livraison.prix }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ livraison.typelivraison }}</td>
            </tr>

            <tr>
                <th>Commandes</th>
                <td>
                    <ul>
                        {% for commande in livraison.commandes %}
                            <li>{{ commande.libelle|e }}</li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-primary btn-lg btn-block" href="{{ path('app_livraison_edit', {'id': livraison.id}) }}">Modifier</a>
    <a class="btn btn-secondary btn-lg btn-block" href="{{ path('app_livraison_index') }}">back to list</a>

    <hr>
    <form method="post" action="{{ path('app_livraison_delete', {'id': livraison.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ livraison.id) }}">
        <button class="btn btn-danger btn-lg btn-block">Delete</button>
    </form>

</div>
{% endblock %}
