
{% extends 'base-back.html.twig' %}

{% block body %}

<div class="content-wrapper">
    <div class="container-fluid">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">

                    <h1 class="tg-filterbale-nav option-set">Statistique Livraison </h1>

                    <div id="div_chart"></div>

                    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
                    <script type="text/javascript">
                        {{ gc_draw(piechart, 'div_chart') }}
                    </script>
                </div>
            </div>

        </div>
    </div>
</div>

{% endblock %}