{% extends 'base-back.html.twig' %}

{% block title %}Edit Livreur{% endblock %}

{% block body %}
    <h1>Edit Livreur</h1>

    {{ include('livreur/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_livreur_index') }}">back to list</a>

    {{ include('livreur/_delete_form.html.twig') }}
{% endblock %}
