{% extends 'base-back.html.twig' %}

{% block title %}New Livreur{% endblock %}

{% block body %}
    <h1>Create new Livreur</h1>

    {{ include('livreur/_form.html.twig') }}

    <a href="{{ path('app_livreur_index') }}">back to list</a>
{% endblock %}
