{% extends 'base-back.html.twig' %}

{% block title %}Livreur{% endblock %}

{% block body %}
    <h1>Livreur</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ livreur.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ livreur.nom }}</td>
            </tr>
            <tr>
                <th>Tel</th>
                <td>{{ livreur.tel }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_livreur_index') }}">back to list</a>

    <a href="{{ path('app_livreur_edit', {'id': livreur.id}) }}">edit</a>

    {{ include('livreur/_delete_form.html.twig') }}
{% endblock %}
